@font-face {
  font-family: 'Tiempos Headline Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Bold"), url("TiemposHeadline-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica 55 Roman"), url("HelveticaNeue-Roman.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Helvetica 55 Roman';
}

#burger {
  width: 22px;
  height: 15px;
  display: none;
}

nav {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  background-color: white;
}

nav img {
  margin-left: 25px;
  margin-right: 30px;
  width: 140px;
}

nav .navlinks {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11.8px;
  color: black;
  letter-spacing: 0.04em;
  font-weight: bold;
  margin-right: 10px;
}

nav .navlinks .login {
  color: #2fb8ad;
  margin: 0 35px;
}

nav .navlinks a {
  text-decoration: none;
  color: black;
  margin: 0 15px;
}

nav .navlinks a:hover {
  color: #2fb8ad;
}

nav .navlinks .button {
  white-space: nowrap;
  color: white;
  background-color: #2fb8ad;
  border: none;
  border-radius: 4px;
  padding: 5px 18px 7px 18px;
}

nav .navlinks .button:hover {
  background-color: #34cabe;
  color: white;
}

main {
  position: relative;
  top: 64px;
}

main .banner {
  width: 100vw;
  padding: 90px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .banner .searchForm {
  padding: 70px 90px;
  max-width: 600.38px;
  min-width: 240px;
}

main .banner .searchForm .description h1 {
  font-family: 'Tiempos Headline Bold';
  line-height: 4.8rem;
  font-size: 50.4px;
  margin: 0;
}

main .banner .searchForm .description p {
  font-size: 15.5px;
  margin: 0 0 32.4px;
  line-height: 1.4em;
}

main .banner .searchForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .banner .searchForm form select {
  cursor: pointer;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 11px 70px 11px 11px;
  border-radius: 4px;
  border-color: #e5e5e5;
}

main .banner .searchForm form select:hover {
  border-color: #b1e8e4;
}

main .banner .searchForm form button {
  cursor: pointer;
  white-space: nowrap;
  background-color: #2fb8ad;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 12px 17px;
  margin-left: 5px;
}

main .banner .searchForm form button:hover {
  background-color: #34cabe;
  color: white;
}

main .banner .picture {
  padding: 0 72px;
}

main .banner .picture img {
  max-width: 100%;
}

main .explore {
  width: 100vw;
  background-color: #f9fafc;
  padding: 85px;
  text-align: center;
}

main .explore .topic {
  font-size: 28.8px;
  font-family: 'Tiempos Headline Bold';
}

main .explore .desc {
  font-family: 'Helvetica 55 Roman';
  font-size: 16.2px;
  margin: 18px 0 0 0;
}

main .explore .boxcontainers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
}

main .explore .boxcontainers div {
  text-align: center;
  min-width: 105.4px;
  padding: 0px 15px;
  overflow: hidden;
}

main .explore .boxcontainers div p {
  position: relative;
  white-space: nowrap;
  top: 50%;
  margin: 5% 0;
  font-size: 19.8px;
  font-family: 'Helvetica 55 Roman';
  color: white;
}

main .booking {
  width: 100%;
  padding: 90px 18px;
  text-align: center;
}

main .booking .titlep {
  font-family: "Tiempos Headline Bold";
  font-size: 28.8px;
  padding: 24.12px 0px 0px;
  margin: 0;
  color: #2B2B2B;
}

main .booking .resp {
  display: none;
  font-family: "Tiempos Headline Bold";
  font-size: 19.14px;
  padding: 23.316px 0px 16.53px 0px;
  margin: 0;
  color: #2B2B2B;
}

main .booking .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .booking .container .item {
  padding: 46.8px;
  max-width: 500px;
  text-align: left;
}

main .booking .container .item div {
  max-width: 243.84px;
}

main .booking .container .item div p {
  font-size: 10.8px;
  margin: 0px 0px 21.6px;
  color: #072C63;
}

main .booking .container .item p {
  font-family: "Tiempos Headline Bold";
  line-height: 1.5em;
  font-size: 25.92px;
  margin: 0px 0px 21.6px;
  color: #2B2B2B;
}

main .booking .container .item span {
  font-size: 14.4px;
  color: #5E6E7D;
}

main .budget {
  background-color: #1D2432;
  padding: 90px 18px;
  width: 100%;
}

main .budget .budgetcont {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .budget .budgetcont .buditem1 {
  padding: 32.4px 90px;
}

main .budget .budgetcont .buditem1 p {
  color: white;
  font-family: "Tiempos Headline Bold";
  font-size: 37.8px;
  max-width: 232.31px;
  line-height: 1.45em;
  margin: 0;
}

main .budget .budgetcont .buditem1 div {
  height: 8px;
  width: 97.2px;
  margin: 58.5px 0px 0px;
  background-color: white;
}

main .budget .budgetcont .buditem23 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32.4px 90px;
  min-width: 351.3px;
  max-width: 480px;
}

main .budget .budgetcont .buditem23 img {
  width: 55px;
  margin-bottom: 23px;
}

main .budget .budgetcont .buditem23 .budp {
  font-size: 16.2px;
  margin: 0 0 18.9px;
  color: white;
}

main .budget .budgetcont .buditem23 p {
  font-size: 14.4px;
  margin: 0 0 40.5px;
  color: white;
  line-height: 1.6em;
}

main .budget .budgetcont .buditem23 a {
  width: 100%;
  white-space: nowrap;
  color: #2fb8ad;
  font-size: 14px;
  text-decoration: none;
  background-color: rgba(62, 211, 163, 0.1);
  padding: 13px 17px;
  border-radius: 4px;
  text-align: center;
}

main .budget .budgetcont .buditem23 a:hover {
  background-color: #34cabe;
  color: white;
}

main .landlord {
  background-color: rgba(62, 211, 163, 0.1);
  padding: 90px 162px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .landlord .landt {
  font-family: "Tiempos Headline Bold";
  font-size: 28.8px;
  margin: 0;
  color: #2B2B2B;
}

main .landlord .landp {
  text-align: center;
  color: #2B2B2B;
  font-size: 16.2px;
  margin: 40.5px 0px 32.85px 0px;
  line-height: 1.5em;
  min-width: 280px;
  max-width: 500px;
}

main .landlord a {
  white-space: nowrap;
  color: #2fb8ad;
  font-size: 14px;
  text-decoration: none;
  background-color: white;
  padding: 13px 15px;
  border-radius: 4px;
  text-align: center;
  width: 103.7px;
}

main .landlord a:hover {
  background-color: #34cabe;
  color: white;
}

main .newsletter {
  background-color: #F9FAFC;
  padding: 90px 162px;
  text-align: center;
  width: 100%;
}

main .newsletter .newst {
  font-family: "Tiempos Headline Bold";
  font-size: 28.8px;
  color: #2B2B2B;
  margin: 0;
}

main .newsletter .newsp {
  font-size: 16.2px;
  color: #2B2B2B;
  margin: 5px 28px 40.5px;
  line-height: 1.6em;
}

main .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .newsletter form input {
  padding: 4px 11px;
  height: 43.2px;
  width: 376.31px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

main .newsletter form input:hover {
  border-color: #b1e8e4;
}

main .newsletter form input::-webkit-input-placeholder {
  color: #dddddd;
  font-weight: bold;
}

main .newsletter form input:-ms-input-placeholder {
  color: #dddddd;
  font-weight: bold;
}

main .newsletter form input::-ms-input-placeholder {
  color: #dddddd;
  font-weight: bold;
}

main .newsletter form input::placeholder {
  color: #dddddd;
  font-weight: bold;
}

main .newsletter form button {
  height: 43.2px;
  color: white;
  font-size: 14px;
  border: none;
  background-color: #2fb8ad;
  padding: 13px 15px;
  border-radius: 4px;
  text-align: center;
  width: 120.49px;
  margin-left: 7.2px;
}

main .newsletter form button:hover {
  background-color: #34cabe;
  color: white;
}

main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #141414;
  padding: 70.2px 90px;
  width: 100%;
}

main .footer .contact {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  min-width: 216px;
}

main .footer .contact img {
  max-width: 100px;
  margin-bottom: 15px;
}

main .footer .contact p {
  font-size: 12.6px;
  margin: 12.6px 0;
  color: rgba(255, 255, 255, 0.6);
}

main .footer .contact p a {
  text-decoration: none;
  color: #2fb8ad;
}

main .footer .contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .footer .contact .social img {
  height: 16px;
  margin-right: 14.4px;
}

main .footer .foot {
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .footer .foot p {
  color: white;
  font-size: 12.6px;
  margin: 0px 0px 12.6px;
}

main .footer .foot a {
  font-size: 12.2px;
  padding: 12px 0px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

main .survey {
  position: fixed;
  margin: 0 15px 15px 0;
  bottom: 0px;
  right: 0px;
  width: 43.2px;
  height: 43.2px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #2fb8ad;
  border: none;
  border-radius: 100%;
  padding: 8px;
}

main .survey:hover {
  background-color: #34cabe;
}

@media screen and (max-width: 600px) {
  #burger {
    width: 21px;
    height: 14px;
    display: block;
    margin-right: 27px;
    cursor: pointer;
  }
  nav .navlinks {
    display: none;
    position: absolute;
    top: 7vh;
    right: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 245px;
    width: 152px;
    border: 1px #e8e8e8 solid;
    border-radius: 5px;
    background-color: white;
  }
  nav .navlinks .login {
    margin-left: 15px;
    color: black;
  }
  nav .navactive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .banner {
    margin: 0;
    padding: 35px 0px;
  }
  main .banner .searchForm {
    padding: 31px 25px;
    width: 100vw;
  }
  main .banner .searchForm .description h1 {
    line-height: 3.3rem;
    font-size: 36.54px;
  }
  main .banner .searchForm .description p {
    font-size: 14px;
  }
  main .banner .searchForm form {
    display: block;
    min-width: 100%;
  }
  main .banner .searchForm form select {
    display: block;
    min-width: 100%;
  }
  main .banner .searchForm form button {
    width: 100%;
    margin-left: 0px;
    margin-top: 15.66px;
  }
  main .banner .picture {
    display: none;
  }
  main .explore {
    padding: 80px 17px;
  }
  main .explore .topic {
    font-size: 19.14px;
  }
  main .explore .desc {
    font-size: 12.18px;
    margin: 17.4px 0 0 0;
  }
  main .explore .boxcontainers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .explore .boxcontainers div {
    width: 50%;
  }
  main .explore .boxcontainers div p {
    margin: 1% 0;
  }
  main .booking {
    padding: 66.99px 17.4px;
  }
  main .booking .titlep {
    display: none;
  }
  main .booking .resp {
    display: block;
  }
  main .booking .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .booking .container .item {
    width: 100%;
    padding: 25.056px;
  }
  main .booking .container .item div {
    max-width: 100%;
  }
  main .booking .container .item div p {
    font-size: 10.44px;
    margin: 0px 0px 13.05px;
    color: #072C63;
  }
  main .booking .container .item p {
    font-family: "Tiempos Headline Bold";
    line-height: 1.5em;
    font-size: 19.14px;
    margin: 0px 0px 13.05px;
  }
  main .booking .container .item span {
    font-size: 12.18px;
  }
  main .budget {
    padding: 87px 0;
  }
  main .budget .budgetcont {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .budget .budgetcont .buditem1 {
    padding: 31.32px 28.71px;
  }
  main .budget .budgetcont .buditem1 p {
    font-size: 36.54px;
    width: 165px;
  }
  main .budget .budgetcont .buditem1 div {
    width: 69.9px;
    margin: 56.55px 0px 0px;
  }
  main .budget .budgetcont .buditem23 {
    padding: 31.32px 28.71px;
    max-width: 100%;
  }
  main .budget .budgetcont .buditem23 img {
    width: 55px;
    margin-bottom: 23px;
  }
  main .budget .budgetcont .buditem23 .budp {
    font-size: 15.66px;
    margin: 0 0 13.05px;
  }
  main .budget .budgetcont .buditem23 p {
    font-size: 13.92px;
    margin: 0 0 39.15px;
    line-height: 1.6em;
  }
  main .landlord {
    padding: 87px 17.4px;
  }
  main .landlord .landt {
    font-size: 19.14px;
  }
  main .landlord .landp {
    font-size: 12.18px;
    margin: 9.57px 0px 31.7555px 0px;
    line-height: 1.5em;
    min-width: 280px;
    max-width: 390.2px;
  }
  main .newsletter {
    padding: 87px 17.4px;
  }
  main .newsletter .newst {
    font-size: 19.14px;
  }
  main .newsletter .newsp {
    font-size: 12.18px;
    margin: 0px 0px 9.57px;
  }
  main .newsletter form {
    margin: 0px 38.2px;
  }
  main .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 33.93px 27.84px;
    width: 100%;
  }
  main .footer .contact {
    margin-bottom: 28.71px;
    width: 100%;
  }
  main .footer .contact p {
    font-size: 12.18px;
  }
  main .footer .contact .social img {
    margin: 0 14.1px 0 0;
  }
  main .footer .foot {
    padding-right: 0px;
  }
  main .footer .foot p {
    font-size: 12.18px;
  }
  main .footer .foot a {
    font-size: 12.18px;
  }
  main .survey {
    width: 41.75px;
    height: 41.75px;
  }
}
/*# sourceMappingURL=index.css.map */